In [ ]:
#importing the libraries needed 
import pandas as pd 
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
#importing the dataset 
movieRatings = pd.read_csv("tv_shows.csv", index_col= [0])
movieRatings.head()

In [ ]:
movieRatings.dtypes

In [ ]:
#describe command to describe the data type 
movieRatings.describe()

In [ ]:
movieRatings.IMDb.describe()

In [ ]:
#cleaning the dataset 
#check duplicate values 
movieRatings.duplicated()

In [ ]:
movieRatings.isnull()

In [ ]:
#dropping null values 
movieRatings.dropna(axis=0, how ='any').shape

In [ ]:
movieRatings.dropna(axis=0, how ='any', inplace = True)

In [ ]:
movieRatings.isnull()

In [ ]:
movieRatings.dtypes

In [ ]:
movieRatings.rename(columns = {"Rotten Tomatoes": "RottenTomatoes"}, inplace=True)
movieRatings.rename(columns = {"Prime Video": "PrimeVideo"}, inplace=True)

In [ ]:
movieRatings.head()

In [ ]:
movieRatings.sort_values(by= "RottenTomatoes", ascending=False).head(10)

In [ ]:
netflix = movieRatings['Netflix'].sum()
hulu = movieRatings['Hulu'].sum()
disney = movieRatings['Disney+'].sum()
prime = movieRatings['PrimeVideo'].sum()
labels = ['Netflix', 'Hulu', 'Disney+', 'Prime Video']
values = [netflix, hulu, disney, prime]
plt.pie(values, labels = labels)
plt.legend(title="Users Around Different OTT Pltafroms")

In [ ]:
year = movieRatings['Age'].unique()
year

In [ ]:
age1 = movieRatings['Age'].value_counts()
age1

In [ ]:
plot.bar()